<% @posts.each do |post| %>
<div class="post">
  <h1><%= link_to post.title, post %></h1>
  <p><%= post.created_at %></p>
  <div class="body">
    <% if cookies[:enabled_article_js] %>
    <%== markdown(post.body)  %>
    <% else %>
    <%= sanitize markdown(post.body)  %>
    <% end %>
  </div>
</div>
<% end %>

<%= link_to "記事一覧へ", posts_path %>
